

.planete {
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 40px;
}

.canape {
  width: 100px;
  position: absolute;
  top: 90px;
  left: -60px;
}

.plane-box {
  position: relative;
  width: 150px;
  height: 150px; 
}


header {
  height: 200px;
}

@keyframes fly {
  0% {
    left: 0;
    bottom: 0;
  }
  
  100% {
    bottom: 100%;
    left: 100%;
  }
}

@keyframes title {
  0% {
    font-size:  2rem;
  }
  
  100% {
    font-size:  100%;
  }
}

h1 {
  animation: 1s ease-in 0s infinite alternate  title;
  bottom: 0;
}

.plane {
  position: absolute;
  animation: 2.5s ease-in 0s infinite normal  fly;
  z-index: 2; 
  width: 60px;
}

.video-responsive { 
overflow:hidden; 
padding-bottom:56.25%; 
position:relative; 
height:0;
}

.video-responsive iframe {
left:0; 
top:0; 
height:100%;
width:100%;
position:absolute;
}

ul {
  list-style:  none;
}

li {
  margin: 10px;
}

p {
  text-align: justify;
}

.text-skyblue {
  color: skyblue;
}

h2, h3, h4 {
  padding:  1em;
}

h2 {
  font-family:   'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:  900;
  text-align:  center;
}

.bg-skyblue {
  background-color: skyblue;
}

.hcontact {
  font-size: 1.5rem;
  text-align:  start;
}

.breadcrump-link {
  color: grey;
}

.breadcrump-link:hover {
  color: black;
}

.modal-title {
  
  color: red;

}
